In [4]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
pd.set_option('display.max_rows', 20)

# Pandas Data-Cleaning Exercise

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)


* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices
* From the Wikipedia page on college towns is a list of [university towns in the United States]
```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```.

In [5]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [6]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    with open('university_towns.txt') as file:
        data = []
        for line in file:
            data.append(line[:-1])
    
    location = []
    state = ''
    city = ''
    
    for line in data:
        if line[-6:] == '[edit]':
            state = line.split('[')[0]
            state=state.rstrip()
        if '(' in line:
            city = line.split('(')[0]
            city=city.rstrip()
        plug = [state,city]
        if city != '':
            location.append(plug) 
    
    ABC = pd.DataFrame(location, columns = ['State','RegionName'])
    
    return ABC

get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
5      Alabama           Troy
6      Alabama     Tuscaloosa
7      Alabama       Tuskegee
8       Alaska       Tuskegee
9       Alaska      Fairbanks
..         ...            ...
556  Wisconsin      Menomonie
557  Wisconsin      Milwaukee
558  Wisconsin        Oshkosh
559  Wisconsin    Platteville
560  Wisconsin    River Falls
561  Wisconsin  Stevens Point
562  Wisconsin       Waukesha
563  Wisconsin     Whitewater
564    Wyoming     Whitewater
565    Wyoming        Laramie

[566 rows x 2 columns]

In [7]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3, using current GDP dollars
    '''
    
    data = pd.read_excel('gdplev.xls', skiprows = 219)
    
    data = data.iloc[:,-4:-1]
    
    data.columns = ['Quarter','GDP_Current_Quarter','GDP_2009_Quarter']
    
    recession = ''
    
    for i in range(len(data)-2):
        if (data.iloc[i][1] > data.iloc[i+1][1]) & (data.iloc[i+1][1] > data.iloc[i+2][1]):
            recession = data.iloc[i][0]
            break
    
    
    #data.set_index('Quarter', inplace = True)
    
    return recession

get_recession_start()

'2008q3'

In [8]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    data = pd.read_excel('gdplev.xls', skiprows = 219)
    data = data.iloc[:,-4:-1]
    data.columns = ['Quarter','GDP_Current_Quarter','GDP_2009_Quarter']
    
    start = get_recession_start()
    start_index = data[data['Quarter'] == start].index.tolist()[0]
    data = data.iloc[start_index:]
    
    for i in range(2, len(data)):
        if (data.iloc[i-2][1] > data.iloc[i-1][1]) & (data.iloc[i-1][1] > data.iloc[i][1]):
            recovery = data.iloc[i][0]
            break
        
    
       
    return recovery

get_recession_end()

'2009q1'

In [9]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    data = pd.read_excel('gdplev.xls', skiprows = 219)
    data = data.iloc[:,-4:-1]
    data.columns = ['Quarter','GDP_Current_Quarter','GDP_2009_Quarter']
    
    start = get_recession_start()
    end = get_recession_end()
    
    start_index = data[data['Quarter'] == start].index.tolist()[0]
    end_index = data[data['Quarter'] == end].index.tolist()[0]
    
    data = data.iloc[start_index:end_index+1]
    bottom = data['GDP_Current_Quarter'].min()
    
    bottom_index = data[data['GDP_Current_Quarter'] == bottom].index.tolist()[0]
    
    return data['Quarter'][bottom_index]

get_recession_bottom()

'2009q1'

In [13]:
def new_col_names():
    #generating the new coloumns names 
    years = list(range(2000,2017))
    quars = ['q1','q2','q3','q4']
    quar_years = []
    for i in years:
        for x in quars:
            quar_years.append((str(i)+x))
    return quar_years[:67]

In [21]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    data = pd.read_csv('City_Zhvi_AllHomes.csv')
    data.drop(['Metro','CountyName','RegionID','SizeRank'],axis=1,inplace=True)
    data['State'] = data['State'].map(states)
    data.set_index(['State', 'RegionName'], inplace=True)
    col = list(data.columns)
    col = col[0:45]
    data.drop(col,axis=1,inplace=True)
    
    
    qrs = [list(data.columns)[x:x+3] for x in range(0, len(list(data.columns)), 3)]
    
    # new columns
    column_names = new_col_names()
    for col,q in zip(column_names,qrs):
        data[col] = data[q].mean(axis=1)
        
    data = data[column_names]
        
    return data

convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0
Nevada,Las Vegas,132600.000000,134366.666667,135400.000000,137000.000000,139533.333333,141733.333333,143366.666667,146133.333333,149333.333333,150933.333333,...,170066.666667,173400.000000,175466.666667,177500.000000,181600.000000,186766.666667,190633.333333,194600.000000,197200.000000,199950.0
California,San Diego,222900.000000,234366.666667,245433.333333,256033.333333,267200.000000,276266.666667,284500.000000,291933.333333,301233.333333,312866.666667,...,480200.000000,489033.333333,496433.333333,503366.666667,512066.666667,519766.666667,525466.666667,529333.333333,536233.333333,539750.0
Texas,Dallas,84466.666667,83866.666667,84866.666667,87833.333333,89733.333333,89300.000000,89066.666667,90900.000000,92566.666667,93800.000000,...,106633.333333,108900.000000,111533.333333,113700.000000,121133.333333,128566.666667,134600.000000,140500.000000,144600.000000,149300.0
California,San Jose,374266.666667,406566.666667,431866.666667,455500.000000,470666.666667,470200.000000,456800.000000,445566.666667,441433.333333,457766.666667,...,679400.000000,697033.333333,714933.333333,731433.333333,756733.333333,776400.000000,789133.333333,803600.000000,818933.333333,822200.0
Florida,Jacksonville,88600.000000,89700.000000,91700.000000,93100.000000,94400.000000,95600.000000,97066.666667,99066.666667,101233.333333,103433.333333,...,120766.666667,121733.333333,123166.666667,124166.666667,126900.000000,130133.333333,132000.000000,133966.666667,137200.000000,139900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
California,Forest Falls,113533.333333,114400.000000,114166.666667,111133.333333,113433.333333,113000.000000,113033.333333,115166.666667,118700.000000,125066.666667,...,165366.666667,167500.000000,177100.000000,176533.333333,181800.000000,191166.666667,198733.333333,188633.333333,189866.666667,186650.0
Missouri,Bois D Arc,107800.000000,106966.666667,107100.000000,108100.000000,110700.000000,113666.666667,112633.333333,112733.333333,113066.666667,115400.000000,...,137566.666667,137566.666667,140400.000000,145033.333333,147566.666667,146300.000000,149433.333333,146866.666667,143766.666667,144000.0
Virginia,Henrico,128566.666667,130766.666667,132266.666667,133266.666667,135233.333333,136733.333333,138600.000000,141333.333333,143533.333333,146133.333333,...,201633.333333,204000.000000,205900.000000,206566.666667,210433.333333,212100.000000,213966.666667,216033.333333,216200.000000,220150.0
New Jersey,Diamond Beach,173966.666667,183100.000000,188966.666667,193133.333333,194400.000000,210266.666667,230266.666667,248666.666667,259933.333333,265633.333333,...,381800.000000,387866.666667,387666.666667,393166.666667,398000.000000,399233.333333,400433.333333,404533.333333,403900.000000,399000.0
Tennessee,Gruetli Laager,35400.000000,35466.666667,36666.666667,37300.000000,37733.333333,37900.000000,39366.666667,40400.000000,41566.666667,41633.333333,...,55566.666667,56366.666667,57133.333333,58900.000000,65366.666667,69500.000000,71700.000000,75333.333333,76466.666667,77500.0
Wisconsin,Town of Wrightstown,101766.666667,105400.000000,111366.666667,114866.666667,125966.666667,129900.000000,129900.000000,129433.333333,131900.000000,134200.000000,...,144866.666667,146866.666667,149233.333333,148666.666667,149333.333333,149866.666667,149933.333333,149833.333333,151266.666667,155000.0
New York,Urbana,79200.000000,81666.666667,91700.000000,98366.666667,94866.666667,98533.333333,102966.666667,98033.333333,93966.666667,94600.000000,...,132133.333333,137033.333333,140066.666667,141700.000000,137866.666667,136466.666667,136166.666667,138966.666667,144200.000000,143000.0
Wisconsin,New Denmark,114566.666667,119266.666667,126066.666667,131966.666667,143800.000000,146966.666667,148366.666667,149166.666667,153133.333333,156733.333333,...,174566.666667,181166.666667,186166.666667,187600.000000,188666.666667,188433.333333,188933.333333,191066.666667,192833.333333,197600.0
California,Angels,151000.000000,155900.000000,158100.000000,167466.666667,176833.333333,183766.666667,190233.333333,184566.666667,184033.333333,186133.333333,...,244466.666667,254066.666667,259933.333333,260100.000000,250633.333333,263500.000000,279500.000000,276533.333333,271600.000000,269950.0
Wisconsin,Holland,151033.333333,150500.000000,153233.333333,155833.333333,161866.666667,165733.333333,168033.333333,167400.000000,165766.666667,161966.666667,...,201266.666667,201566.666667,201266.666667,206000.000000,207600.000000,212866.666667,217833.333333,221966.666667,228033.333333,234950.0

In [22]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    data = convert_housing_data_to_quarters().copy()
    data = data.loc[:,'2008q3':'2009q2']
    data = data.reset_index()
    def price_ratio(row):
        return (row['2008q3'] - row['2009q2'])/row['2008q3']
    
    data['up&down'] = data.apply(price_ratio,axis=1)
    #uni data 
    
    univ_town = get_list_of_university_towns()['RegionName']
    univ_town = set(univ_town)

    def is_univ_town(row):
        #check if the town is a university towns or not.
        if row['RegionName'] in univ_town:
            return 1
        else:
            return 0
    data['is_univ'] = data.apply(is_univ_town,axis=1)
    
    
    not_univ = data[data['is_univ']==0].loc[:,'up&down'].dropna()
    is_univ  = data[data['is_univ']==1].loc[:,'up&down'].dropna()
    def better():
        if not_univ.mean() < is_univ.mean():
            return 'non-university town'
        else:
            return 'university town'
    p_val = list(ttest_ind(not_univ, is_univ))[1]
    result = (True,p_val,better())
    return result

run_ttest()

(True, 0.0003664160159552697, 'university town')